@model SEP.Models.clsUserPasswordedit

@section Navigation{
    
    }




<div class="portlet-body" style="width:350px; float:inherit; padding:10px; width: 50%; margin: 0 auto; ">
    <div id="tab_3-3" class="tab-pane">

        <form method="post" action="">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            <input type="hidden" name="UserID" id="UserID" value="@Model.UserId" />


          @*  <div class="alert alert-success">
              
            </div>
              *@

            if (ViewData["Exception"] != null)
            {
            <div class="alert alert-danger">
                @ViewData["Exception"]
            </div>
            }

            <div class="form-group">
                <label class="control-label">Current Password</label>
                <input type="password" id="OldPassword" class="form-control" name="OldPassword" />
            </div>
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input type="password" id="Password" class="form-control" name="Password" />
            </div>



            <div class="form-group">
                <label class="control-label">Re-type New Password</label>
                <input type="password" id="ConfirmPassword" class="form-control" name="ConfirmPassword" />
            </div>
            <div class="margin-top-10">


                <button type="submit" class="btn green" id="btnChange">
                    Change Password
                </button>
              
            </div>
}
        </form>
    </div>
    </div>
    
@section foo{
    
    
    }