@model IEnumerable<SEP.Models.editUser>

@section Navigation{
    
    <h4>d</h4>
    }

<div class="sec1">
 
    <h1>Best Ever</h1>
    @foreach (var item in Model)
    {
        <p>@Html.DisplayFor(modelItem => item.Fname)</p>


    }
   
</div>
<div class="sec1">
    <img src="mails-icon.png" />
    <h1>Locate us</h1>

    <p>fasf fasdfsdf sdfsa fsdfsf  sfasfdsa adfsdf fsfsdfas fasf fasfasf asfasfs af afasfsafsafas fsdafsa fasfeafafawfewafwefeaf aefw</p>
</div>
<div class="sec1">
    <img src="mails-icon.png" />
    <h1>New Feeling</h1>
    <p>fasf fasdfsdf sdfsa fsdfsf  sfasfdsa adfsdf fsfsdfas fasf fasfasf asfasfs af afasfsafsafas fsdafsa fasfeafafawfewafwefeaf aefw</p>
</div>
<div class="clear"> </div>