<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    <div>
        <p>@ViewBag.Email</p><br />
        <p>@ViewBag.Ordernum</p><br />
        <p>@ViewBag.Reason</p><br />
        <p>@ViewBag.Description</p>
    </div>
</body>
</html>
