

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @ViewBag.Name
</head>
<body>
    <div>
        <h6>@ViewBag.rate</h6>
    <p>@ViewBag.Description</p>
    </div>
</body>
</html>
