
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Your Verification Code Number is :@ViewBag.Code,Please Use this Code for Change Your Password </p>
        
        
     </div>
</body>
</html>
